/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Roboto";
    font-size: 1.3125rem;
    line-height: 1.6;
    color: #222C2A;
}

/* Utility styles */
/* Layout */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2em;
}

.flex {
    display: flex;
    gap: 40px;
}

.section_image {
    max-width: 100%;
}

/* Typography */
h1, h2 {
    font-family: "Playfair Display";
    font-weight: 900;
}

h1 {
    font-size: 3rem;
    color: #824936;
}

h2 {
    font-size: 2rem;
    color: #824936;
    margin-bottom: 0.8em;
}

p {
    font-family: "Roboto";
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 1.6;
    margin-bottom: 1em;
}

.textCenter {
    text-align: center;
}

/* Colors */
.darkBlue {
    background-color: #222C2A;
    color: #fff;
}

.darkBrown {
    background-color: #824936;
    color: #fff;
}

.lightCyan {
    color: #F3EED9;
}


/* Main styles */
header {
    background-color: #F3EED9;
    min-height: 60vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-content {
    width: 70%;
    margin: 0 auto;
}

.header-content p {
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: lighter;
}

section {
    padding: 5rem 0;
}

.section-content > * {
    /* flex: 1; */
    width: 50%;
}

@media (max-width: 580px) {
    .header-content {
        width: 100%;
    }

    .section-content {
        display: block;
    }
    .section-content > * {
        width: 100%;
    }
}
